@font-face {
  font-family: "Behind The Nineties";
  src: url("./fonts/ITALIC/Behind-The-Nineties-Bd-It.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Behind The Nineties";
  src: url("./fonts/ITALIC/Behind-The-Nineties-It.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Behind The Nineties";
  src: url("./fonts/UPRIGHT/Behind-The-Nineties-Bd.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Behind The Nineties";
  src: url("./fonts/UPRIGHT/Behind-The-Nineties-Md.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

/* Add more @font-face rules if needed */
h1,
h2,
h4,
h5,
h6 {
  font-family: "Behind The Nineties", sans-serif;
  font-style: italic;
  font-weight: bold;
}
/* Hide scrollbar for Chrome, Safari, and Edge */
.your-scrollable-container::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
.your-scrollable-container {
  scrollbar-width: none; /* Firefox */
}

/* Optional: Ensure the container scrolls if needed */
.your-scrollable-container {
  overflow: hidden; /* Hide overflow */
  overflow-y: auto; /* Enable vertical scrolling */
}
/* Prevent scrolling on the entire page */
html,
body {
  overflow: hidden;
}

